*{ 
  margin: 0;
  padding: 0;
 box-sizing: border-box; 
}
:root {
  --Blue: hsl(233, 26%, 24%);
  --Green: hsl(136, 64%, 51%);
  --Cyan: hsl(192, 69%, 51%);
  --Gray600: hsl(233, 8%, 62%);
  --Gray100: rgb(243, 244, 246);
  --Gray50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
}

body{
  font-family: 'Public Sans', sans-serif;
  

}
nav{
  box-shadow: 1px 1px 15px rgba(220, 221, 223, 0.459);

}
.request-button {
  color: var(--White);
  font-family: inherit;
  font-weight: 600;
  border-radius: 25px;
  padding: 10px 30px;
  background: linear-gradient(200deg, var(--Green), var(--Cyan));

}
.request-button:hover {
opacity: 0.7;
color: var(--White) ;
}
.card-title:hover{
color: var(--Green);
cursor: pointer;
}
.nav-link{
  transition:ease 0.4s;
}
.nav-link:hover{
border-radius: 10px;
background-color: var(--Green);
}

.section1,.section2{
  box-shadow: 1px 1px 15px rgba(220, 221, 223, 0.459);
  height: 85vb;
 width: 98.2vw;

}
/* start of section 2 */
.section2{
  background-color: var(--Gray100);
  padding: 6% 1em;
   height: auto;
   width: 100%;
}
.section3{
  padding: 6% 1em;
  width: 100%;
  height: auto;
}

 .auther{
  font-size: 0.8em;
 }
 .card img{
  margin-bottom: 16px !important;
 }
 .card{
    box-shadow: 1px 1px 15px rgba(220, 221, 223, 0.459);
    border: none;
 }
.section2 .div1 p{
  margin-top: 20px;
  width: 600px;
  color: var(--Gray600);
} 
.sec2-col{
  margin-top: 5%;
}
.sec2-col img{
margin-bottom: 30px;
}
.sec2-col h4{
 margin-bottom: 30px;
}
.sec2-col p{
color: var(--Gray600);
width: 250px;
line-height: 1.5em;
}

/* end of section 2 */
.col1 {
  text-align: center;
  padding: 10%;
}
.col1 h1 {
 font-size: 3em;
 
}
.col1 p {
 text-align: left;
 font-size: 0.9em;
 color: var(--Gray600);
 width: 340px;
 margin-left: 3.8em;
 margin-top: 1.5em;
 line-height: 1.7em;
}
.col1-button{
  text-align: left;
   margin-left: 3.5em;
}
/* src="images/bg-intro-desktop.svg" */
.col2-img1{
  right: 4em;
position: relative;
top: -18.5em;
z-index: -999;
}
.col2-img2{
position: relative;
top: -75em;
right: -7em;
z-index: 999;
animation: moveUpDown 2s ease-in-out infinite;
}

  @keyframes moveUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }

.footer {
  background-color: var(--Blue);
}

.footer-links p a:hover {
  color: hsl(136, 65%, 51%) !important;

}


@media (min-width:300px) and (max-width:700px) {
  .section1 {
    height: 90vb;
  }
  .col2 {
    height: 40vb;
   
  }
  .col2-img1 {
    right: 10em;
    top: -31em;
  }

  .col2-img2 {
    width: 370px;
    top: -73em;
    right: -0.8em;

  }
   .col1 p{
    text-align: center;
    line-height: 1.5em;
    width: 330px;
     margin: 16px 0;
     
  }
  .col1 h1{
  font-size: 2.6em;
     
  }
  .col1-button {
    text-align: center;
    margin: 0;
  }


  .section2 .col-12 p{
  width: auto;
  font-size: 0.91em;
}

.section2 .row ,.section3 {
  text-align: center;
  justify-content: center  !important;

}

  .section3 .card {
    margin-left: auto;
    margin-right: auto;
    
  }
 
.section2 .div1 p{
  width: auto;
} 
.section2 .div1 {
  text-align: center;
 
} 
}
@media (min-width:700px) and (max-width:1300px) { 
  .section3 .row{
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: space-between;

}

}